services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/src
      - /src/node_modules
    ports:
      - "3000:3000"


  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/src
      - /src/node_modules
    ports:
      - "8080:8080"